html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

/*Might use this*/
/*body{
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    /*background-color: darkgray;
}*/

html, body {
    height: 100vh;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#left-pane {
    height: 100vh;
    background-color: #3498db;
}

.left-pane-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.left-pane-header  h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    color: white;
}

.dashboard-icon {
    fill: white;
    width: 3rem;
    height: 3rem;
}

.left-pane-menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: solid 1px black;
}

.left-pane-menu > div > .menu-icon,h3 {
    display: grid;
    fill: white;
    color: white;
}

.menu-icon {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 2rem;
    height: 2rem;
}

.left-pane-menu > div > h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}



