html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

/*Might use this*/
/*body{
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    /*background-color: darkgray;
}*/

html, body {
    height: 100vh;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#left-pane {
    height: 100vh;
    background-color: #3498db;
}

.left-pane-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
}

.left-pane-header  h2 {
    font-size: 2rem;
    margin-left: 10px;
    color: white;
}

.dashboard-icon {
    fill: white;
    width: 20%;
}

